# ============================================
# Python
# ============================================

__pycache__/
*.py[cod]
*$py.class


# ============================================
# Virtual Environment
# ============================================

.venv/
venv/
env/


# ============================================
# VS Code
# ============================================

.vscode/


# ============================================
# Operating System
# ============================================

.DS_Store
Thumbs.db


# ============================================
# Temporary files
# ============================================

*.tmp
*.log